@font-face {
	font-family: 'Roboto';
	src: url(‘Roboto/Roboto-Regular.ttf’)
}

header {
background-color: white;
}

ul1 {
    font-size: x-large;
}

ul2 {
    text-align: center;
    font-size: small;
}

white_radius {
    background-color: rgb(226, 43, 89);
    padding: 10px;
    border-radius: 50px;
}

.nav :first-child {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}


.nav {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(22, 42, 221, 0.815);
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 { 
    list-style-type: none;
    background-color: white;
    color: rgba(22, 42, 221, 0.815);
    font-family: 'Roboto', sans-serif;
    align-self: center;
    text-align: center;
}

.section {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    color: rgba(22, 42, 221, 0.815);
    font-family: 'Roboto', sans-serif;
}

.recrutement {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: flex-start;
    font-size: medium;
    list-style-type: none;
    display: flex;
    color: rgba(22, 42, 221, 0.815);
    font-family: 'Roboto', sans-serif;
}

.formation {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: flex-start;
    font-size: medium;
    list-style-type: none;
    display: flex;
    color: rgba(22, 42, 221, 0.815);
    font-family: 'Roboto', sans-serif;
}

.innovation {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: flex-start;
    font-size: medium;
    list-style-type: none;
    display: flex;
    color: rgba(33, 10, 240, 0.815);
    font-family: 'Roboto', sans-serif;
}

gold_radius {
    font-size: medium;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(226, 192, 43);
    border-radius: 50px;
    padding: 15px;
    color: white;
}

.temoignent {
    font-size: xx-large;
    background-color: orange;
    color: white;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.second {
    font-size: large;
    background-color: orange;
    color: white;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.links {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.contact {
    background-color: rgb(59, 53, 53);
    display: flex;
    font-size: large;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    text-align: left;
}



